body {
  padding: 40px;
  margin: auto;
  background: #ffe url(bg.jpg) center repeat;
  font-size: 10pt;
  max-width: 60em;
}
body, h1, h2, h3 {
  font-family: verdana, sans-serif;
}
h1 {
  font-size: 400%;
  text-align: center;
  padding: 0;
  margin: 0 0 1em 0;
  color: #963;
  border-bottom: 0.2em solid #eed;
}
h2 {
  font-size: 150%;
  background-color: #edc;
  color: #963;
  border-top: 2px solid #963;
  margin: 3em 0 1em 0;
  padding: 2px 5px 2px 20px;
}
h3 {
  font-size: 120%;
  margin: 2em 0 1em 0;
  padding: 2px 5px 2px 20px;
  color: #963;
  background-color: #eed;
}
h2, h3 {
  clear: both;
}
p {
  background: #ffe;
  text-indent: 1em;
  text-align: justify;
  margin: 0.5em 0;
}
.noindent {
  text-indent: 0;
}
h2+p, h3+p {
  text-indent: 0;
}
acronym {
  font-variant: small-caps;
}
hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
  margin: 1em 0;
}
a:link {
  color: #963;
}
a:visited {
  color: #786;
}
.news {
  margin: 40px;
  padding: 0 2em;
  background-color: white;
  border: 2px solid #00a;
}
.news h2 {
  margin: 0.7em 0;
  padding: 0;
  border: none;
  color: black;
  background-color: transparent;
}
.news dl {
  font-size: 120%;
}
.news dt {
  background-color: #eee;
  margin: 0.7em 0;
  padding: 1px 5px;
}
.news dd {
  color: #00a;
  margin: 0.7em 0 0.7em 2em;
}
.clickie {
  text-align: center;
}
.clickie a:link,
.clickie a:visited {
  font-family: sans-serif;
  font-size: 150%;
  line-height: 150%;
}
.footer {
  margin-top: 5em;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #eed;
}
.footer p {
  margin: 0.5em 0 0 0;
  text-align: center;
  background-color: transparent;
}
.footer img {
  display: block;
  border: 1px solid #ccc;
  outline: none;
}
