body {
  margin: auto;
  font-size: 11pt;
  width: 60em;
  color: #444;
  background-color: #fcfaf8;
  padding-bottom: 1in;
}
body, h1, h2, h3 {
  font-family: arial, sans-serif;
}
.content { 
  margin: 0 2em;
}
h1 {
  background-color: #edc;
  font-size: 400%;
  text-align: center;
  padding: 0.5em 0;
  margin: 0 0 1em 0;
  color: #963;
  border: none;
}
h2 {
  font-size: 150%;
  background-color: #edc;
  color: #963;
  border: none;
  margin: 3em 0 1em 0;
  padding: 2px 5px 2px 20px;
}
h3 {
  font-size: 120%;
  margin: 2em 0 1em 0;
  padding: 2px 5px 2px 20px;
  color: #963;
  background-color: #eed;
}
h2, h3 {
  clear: both;
}
p {
  text-indent: 1em;
  text-align: justify;
  margin: 0.5em 0;
}
.noindent {
  text-indent: 0;
}
h2+p, h3+p {
  text-indent: 0;
}
acronym {
  font-variant: small-caps;
}
hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
  margin: 1em 0;
}
a:link {
  color: #963;
}
a:visited {
  color: #786;
}
img {
  border: 1px solid #d8d8d8;
}
.news {
  margin: 40px;
  padding: 0 2em;
}
.news h2 {
  margin: 0.7em 0;
  padding: 0;
  border: none;
  color: black;
  background-color: transparent;
}
.news dl {
  font-size: 120%;
}
.news dt {
  background-color: #eee;
  margin: 0.7em 0;
  padding: 1px 5px;
}
.news dd {
  color: #04a;
  margin: 0.7em 0 0.7em 2em;
}
.clickie {
  text-align: center;
}
.clickie a:link,
.clickie a:visited {
  font-size: 150%;
  line-height: 150%;
}
.content { 
  padding-bottom: 5em;
}
.footer {
  border: solid #963;
  border-width: 2px 1px 0;
  background-color: #edc;
  margin-top: 5em;
  padding: 15px;
  clear: both;
}
.footer p {
  margin: 0.5em 0 0 0;
  text-align: center;
  background-color: transparent;
}
